body{
    padding: 10px;
}

img{
float:left;
object-fit:cover;
border-radius: 10px;
}

.remelis{
    border: 2px solid black;
    text-align: center;
    height: 150px;
    width: 400px;
    padding: 5px;
    background-color: rgb(250, 250, 112);
}
